CompileFlags:
    Add:
        - "-std=c++20"
        - "-stdlib=libc++"
    Remove:
        - "-std=c++*"
        - "-stdlib=libstdc++"

Index:
    Background: Build

Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: Strict

InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes

Hover:
    ShowAKA: Yes
